@model MvcWeb.Models.OtherServicesPage 
@{
    ViewBag.Title = Model.Title;
    var lstitem = Model.Archive.Posts.ToList();
    var item = lstitem[0];
}

<h1>OtherServicesPage</h1>

<script>
    window.location.href = "@item.Permalink";
</script>