@page "~/manager/loginuser"
@model LoginEditViewModel
@inject IAuthorizationService Auth
@inject ManagerLocalizer Localizer
@{
    ViewBag.Title = "Login";
    ViewBag.MenuItem = "Logins";
}
@section script
{
    <script src="~/manager/assets/js/piranha.userlogin.js"></script>
    <script>
        piranha.permissions.load(function () {
            piranha.userlogin.load();
        });
    </script>
}

<div id="userlogin">
    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Settings</li>
                <li class="breadcrumb-item active" aria-current="page">User Logins</li>
            </ol>
        </nav>

        <div class="container-fluid">
            <div class="top-nav">
                <div v-if="sites.length > 1" class="dropdown d-inline" v-if="sites.length > 1">
                    <button class="btn btn-primary btn-labeled dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="btn-label">
                            <i class="fas fa-globe"></i>
                        </span>
                        {{ siteTitle }}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" li v-for="site in sites" v-on:click.prevent="load(site.id)">{{ site.title }}</a>
                    </div>
                </div>
                @foreach (var action in Piranha.Manager.Actions.Toolbars.LoginEdit)
                {
                    <partial name="@action.ActionView" />
                }
            </div>
        </div>
    </div>

    <div class="app ready">
        <partial name="Partial/_LoginList" />
        <partial name="Partial/_LoginForm" />
    </div>
</div>