<div class="login">
    <div class="container">
        <div class="row mar0">
            <div class="col-12 col-lg-12 pad0">
                <ul class="fw">
                    <li><a href="login.html">Đăng nhập</a></li>
                    <li><a href="open-account.html">Gửi yêu cầu mở tài khoản</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="menu">
    <div class="container">
        <div class="row mar0">
            <div class="col-12 col-lg-1 flex logo">
                <a href="index.html"><img class="img-fluid" src="assets/images/TVS.png" alt=""></a>
            </div>
            <div class="col-12 col-lg-11 pad0">
                <nav class="fw">
                    <div class="menu-toggle">
                        <div class="row mar0">
                            <div class="col-6 pad0">
                                <button type="button" id="menu-btn">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="col-6 search_mb">
                                <form action="" id="search_form" class="fw">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="search" id="search">
                                        <i class="fas fa-search search_icon"></i>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
                        <li><a href="gioithieu.html">Giới thiệu</a></li>
                        <li>
                            <a>Dịch vụ</a>
                            <ul>
                                <li><a href="#">Quản lý quỹ</a></li>
                                <li>
                                    <a>Ngân hàng đầu tư</a>
                                    <ul>
                                        <li><a href="nganhangdautu.html">Giới thiệu</a></li>
                                        <li><a href="nganhangdautu.html">Các thành viên</a></li>
                                        <li><a href="nganhangdautu.html">Các thương vụ tiêu biểu</a></li>
                                        <li><a href="nganhangdautu.html">Đối tác và khách hàng</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a>Môi giới</a>
                                    <ul>
                                        <li><a href="moigioi.html">Giới thiệu</a></li>
                                        <li><a href="moigioi.html">Các thành viên</a></li>
                                        <li><a href="moigioi.html">Các thương vụ tiêu biểu</a></li>
                                        <li><a href="moigioi.html">Đối tác và khách hàng</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Phân tích</a></li>
                            </ul>
                        </li>
                        <li><a href="quanhecodong.html">Quan hệ cổ đông</a></li>
                        <li><a href="tintuc.html">Tin tức</a></li>
                        <li><a href="tuyendung.html">Tuyển dụng</a></li>
                        <li><a href="lienhe.html">Liên hệ</a></li>
                        <li>
                            <a href="#"><i class="fas fa-globe-americas"></i> Tiếng việt</a>
                            <ul class="language">
                                <li>
                                    <a href="#">English</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="search_pc fw">
                                <form action="" id="search_form" class="fw">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="search" id="search">
                                        <i class="fas fa-search search_icon"></i>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>